<!-- container -->
<div class="contributor-card  group/card shadow ">
    <!-- background -->
    <div class=" layer">
    </div>
    <!-- image -->
    <a href="<%= githubLink %>" class="container">
        <div class="photo">
            <div class="image-container">
                <div class="background-image"> </div>
                <img src="<%= img ///AttrValue/// %>" alt="<%= name %>">
            </div>
        </div>
        <div class="text">
            <p class="name ">
                <%= name %>
            </p>
            <p class="desc">
                <%= job %>
            </p>
        </div>
    </a>


</div>